<div class="row">
    <section class="main col-md-9">
      <article>
      <h2><b>About</b></h2>
      <p>
        My name is Honey Mahey and I am from India. I’m an international student in Canada who came here after finishing his High School. I like to do roller skating, meeting new people and exploring places.
      </p>
    
      </article>
    </section>
    <aside class="col-md-3">
      <h2><b>Coming Soon</b></h2>
      <p>Stay tuned for future updates.</p>
    </aside>
</div>